h1 {
    color: red;
}
p {
    color:blue;
}
.titulos{
    color:brown;
}
#segundoParrafo{
    color:aqua;
}
#Holasoyeldeivis{
    color:chocolate
}
.caja{
    border: 5px solid black;
    margin: 30px;
    padding: 10;
}
.contenido{
    border: 5px solid black;
}