.container{
    display:grid;
    grid-template-areas:
    "Header Header"
    "Nav Nav"
    "Section Sidebar"
    "Footer Footer";
    grid-template-columns: 3fr 1fr;

}

/*.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 1fr);
    min-height: 100vh;
}*/
.Header{
    background: lightseagreen;
    grid-area: Header ;
    padding: 1rem;
}
.Nav{
    background: lightcoral;
    grid-area: Nav ;
    padding: 1rem;
}
.Section{
    background: lightslategray;
    grid-area: Section;
    padding: 1rem;
}
.Sidebar{
    background: lightskyblue;
    grid-area: Sidebar ;
    padding: 1rem;
}
.Footer{
    background: lightgoldenrodyellow;
    grid-area: Footer ;
    padding: 1rem;
}
.Nav ul{
    display: grid;
    grid-auto-flow: column;
    list-style: none;
    padding: 1rem;
    gap: 1rem;
}
@media(max-width: 1023px){
    .container{
        grid-template-areas:
        "Header"
        "Nav"
        "Section" 
        "Sidebar"
        "Footer";
        grid-template-columns: 1fr;
    }
.Nav ul{
    grid-auto-flow: row;
}
    }

@media(max-width: 767px){
    .Sidebar{
        display: none;
    }
}

